@import "tailwindcss";

html {
  overflow: hidden;
}

/* Default pages scrollbar navigations */
.layout-scrollbar {
  scrollbar-color: #a3a3a3 transparent;
  overflow-y: auto;
}

/* Sidebar scrollbar navigation styles */
.sidebar-nav {
  overflow-y: auto;
}

.sidebar-nav::-webkit-scrollbar {
  width: 3px;
}

.sidebar-nav::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  background-color: #fca5a5; /* red */
  border-radius: 999px;
}

/* Normal scrollbar */
.normal-scrollbar {
  scrollbar-color: #a3a3a3 transparent;
}
/* Small scrollbar */
.small-scrollbar {
  scrollbar-color: #a3a3a3 transparent;
  scrollbar-width: thin;
}

/* Dashboard Alert Styles */

@keyframes slideInTopCenter {
  0% {
    transform: translate(-50%, -150%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slideOutTopCenter {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -150%);
    opacity: 0;
  }
}

.animate-slide-in-top {
  animation: slideInTopCenter 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-slide-out-top {
  animation: slideOutTopCenter 0.4s cubic-bezier(0.7, 0, 0.84, 0) forwards;
}

/* Hide scrollbar */
.scrollbar-hide {
  scrollbar-width: none;
}
